.container {
  margin: 0 auto;
}

.banner {
  text-align: center;
}

.banner img {
  width: 100%;
}

.content {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.sections {
  display: flex;
  flex-wrap: wrap;
}

.section {
  flex: 1 1 calc(25%);
  min-width: 180px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} 

@media (max-width: 768px) {
  .section {
    flex: 1 1 33%;
  }
}

@media (max-width: 480px) {
  .section {
    flex: 1 1 50%;
  }
}

/* h1, h2 {
  color: #333;
}

p {
  color: #666;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
} */
