.loading-spinner {
  width: 64px;
  height: 64px;
  border: 8px solid #3498db;
  border-top: 8px solid transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
  margin-bottom: 250px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}